@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
 

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    cursor: url('./assets/cursor_white.png'), auto;
}

* a {
    text-decoration: none;
    cursor: inherit;
}


header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8%;
}

#particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: translateY(200px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes appearLater {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.heading {
    z-index: 100;
}

.heading h1 {
    font-size: 5rem;
    animation: appear 1s ease-out;
}

.heading h2 {
    padding: 0 5px;
    animation: appearLater 2s ease-out;
}

.heading h2 span {
    color: #6746ff;
}

@keyframes sizeUp {
    0%{
        width: 0px;
        height: 0px;
        /* border: 2px solid white; */
    }
    100% {
        width: 70px;
        height: 70px;
    }
}

.switch-modes {
    position: fixed;
    right: 0;
    top: 10px;
    font-size: 2.5rem;
    z-index: 6;
    width: 70px;
    height: 70px;
    /* border: 2px solid white; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s ease-in-out;
}

.circle {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    top: 35px;
    left: 35px;
    transition: all 0.3s ease-in-out;
}

.switch-modes:hover .circle {
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    border: 2px solid white;
}

.navbar {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0 30%;
    justify-content: space-between;
    /* border: 1px solid white; */
}

.navbar a {
    font-weight: 500;
    font-family: 'Raleway';
    padding: 3px 6px;
    border: 2px solid transparent;
}

.navbar a:hover {
    /* border-color: white; */
    border-radius: 14px;
    transition: border 0.3s ease;
}

section {
    padding: 2% 10%;
}

section#about {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.about-content .about-heading, .tech-stack .tech-stack-heading {
    font-size: 2.5rem;
}

.about-content .info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-content .info-container img{
    width: 30%;
    height: 30%;
    max-width: 200px;
    max-height: 200px;
}

.about-content .info-container .info {
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
    font-size: 14px;
    max-width: 700px;
}

.about-content .info span {
    color: #8a3cff;
}

.about-content .info .contact-button {
    border: 4px solid #782aed;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem 1rem;
    overflow:hidden;
    position: relative;
}

.about-content .info .contact-button .bg-hover {
    position: absolute;
    width: 500%;
    height: 500%;
    top: -600%;
    left: -500%;
    background: #782aed;
    z-index: -1;
    transform: rotate(25deg);
    transition: transform 0.5s linear;
}

.about-content .info .contact-button:hover {
    .bg-hover {
        transform: translateX(200px) translateY(100px);
    }
}


.tech-stack {
    width: 100%;
}

.tech-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.tech-stack-logos {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.tech-stack-logos div {
    text-align: center;
    transition: transform 0.2s ease;
}

.tech-stack-logos div p {
    font-family: 'Ubuntu';
    opacity: 0;
    transition: opacity 0.2s ease;
}

.tech-stack-logos div img {
    width: 60px;
}
.tech-stack-logos div:hover {
    transform: scale(1.3);
}



.scroll-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 0;
    border: 2px solid white;
    width: 50px;
    height: 20px;
    transform: rotate(-90deg);
    background: transparent;
    border-radius: 14px;
    cursor: inherit;
}

.scroll-top i {
    color: white;
    margin-top: -1px;
}

@keyframes moveArrow {
    0% {
        transform: translateX(-15px);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateX(15px);
        opacity: 0;
    }
}

.scroll-top i {
    font-size: 1.2rem;
    animation: moveArrow 2s ease infinite;
    z-index: -1;
}

/* Projects Section */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.projects-heading {
    font-size: 2.5rem;
}



.white {
    color: white;
}

.black {
    color: black;
}


::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #6746ff;
}

@media screen and (max-width: 900px){

    header {
        padding: 0 5%;
    }
    .switch-modes {
        font-size: 2rem;
        right: 10px;
        justify-content: space-between;
    }

    .navbar {
        padding: 0 5%;
        justify-content: space-evenly;
    }
    .heading h1{
        font-size: 4rem;
    }

    .heading h2 {
        font-size: 2rem;
    }

    section {
        padding: 1% 5%; 
    }

    .about-content .info-container img {
        width: 40%;
        height: 40%;
    }
    
    .about-content .about-heading, .tech-stack .tech-stack-heading {
        font-size: 2rem;
    }

    .tech-stack-logos{
        width: 100%;
    }

}

@media screen and (max-width: 700px) {
    .about-content .info-container {
        flex-wrap: wrap;
    }

    .tech-stack-logos div img {
        width: 30px;
    }

    .tech-stack-logos div p {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {

    .switch-modes {
        right: -20px;
        top: 50px;
    }

    section {
        padding: 1% 0;
    }
}